<ul class="subslider">
    <li class="content" style="background-image: url(images/Mendel.jpg);background-size: auto 100%; background-position: center;">
        <h1 class="title">Наследование.</h1>
        <ul class="list">
            <li class="item">Особенности наследования в js</li>
            <li class="item">Псевдо-классический паттерн (плюссы данной реализации)</li>
            <li class="item">Паттерн конструктор (отличие от псевдо-классического)</li>
            <li class="item">Фабрика (для чего используется и реализация)</li>
            <li class="item">Реализация конструкции super</li>
        </ul>
    </li>
    <li class="content" style="background-image: url(images/prototype_chain.001.jpg);">
        <h1 class="title -second">Особенности наследования в js</h1>
    </li>
    <li class="content" style="background-image: url(images/ps-class.jpg);">
        <h1 class="title -second">Псевдо-классический паттерн (плюссы данной реализации)</h1>
    </li>
    <li class="content" style="background-image: url(images/const.jpg);">
        <h1 class="title -second">Паттерн конструктор (отличие от псевдо-классического)</h1>
    </li>
    <li class="content" style="background-image: url(images/fab.jpg);">
        <h1 class="title -second">Фабрика (для чего используется и реализация)</h1>
    </li>
</ul>