<ul class="subslider">
    <li class="content active" style="background-image: url(images/image2.png);">
        <h1 class="title -second">ООП</h1>
        <ul class="list -second">
            <li class="item">Для чего используется</li>
            <li class="item">Реализация бизнес модели. Абстракция</li>
            <li class="item">Плюсы и минусы</li>
        </ul>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Для чего используется</h1>
    </li>
    <li class="content" style="background-image: url(images/abstr.png);">
        <h1 class="title -second">Реализация бизнес модели. Абстракция</h1>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Плюсы и минусы</h1>
    </li>
</ul>