<ul class="subslider">
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title">Инкапсуляция.</h1>
        <ul class="list">
            <li class="item">Приватные / защищенные и публичные методы</li>
            <li class="item">Реализация классов в рамках паттерна модуль</li>
            <li class="item">Варианты реализации данных методов</li>
            <li class="item">Публичные метод, как Api.</li>
            <li class="item">Варианты реализации публичного Api. Pub/sub</li>
        </ul>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Приватные / защищенные и публичные методы</h1>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Реализация классов в рамках паттерна модуль</h1>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Варианты реализации данных методов</h1>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Публичные метод, как Api.</h1>
    </li>
    <li class="content" style="background-image: url(images/image2.png);">
        <h1 class="title -second">Варианты реализации публичного Api. Pub/sub</h1>
    </li>
</ul>