extends layout

block content
  ul#slider.slider
    li.slide.active
        div(id="slide-1")
            include slider/slider-1.html
    li.slide
        div(id="slide-2")
            include slider/slider-2.html
    li.slide
        div(id="slide-3")
            include slider/slider-3.html
    li.slide
        div(id="slide-4")
            include slider/slider-4.html
    li.slide
        div(id="slide-5")
            include slider/slider-5.html
  div#loader.loader