doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', data-main='javascripts/main', src='/javascripts/vendor/requirejs/require.js')
  body
    block content
