<div class="content" style="background-image: url(images/shema-metro-400x340.jpg);">
    <h1 class="title">Наследование.</h1>
    <ul class="list">
        <li class="item">Особенности наследования в js</li>
        <li class="item">Псевдо-классический паттерн (плюссы данной реализации)</li>
        <li class="item">Паттерн конструктор (отличие от псевдо-классического)</li>
        <li class="item">Фабрика (для чего используется и реализация)</li>
        <li class="item">Реализация конструкции super</li>
    </ul>
</div>