<div class="content" style="background-image: url(images/shema-metro-400x340.jpg);">
    <h1 class="title">Инкапсуляция.</h1>
    <ul class="list">
        <li class="item">Приватные / защищенные и публичные методы</li>
        <li class="item">Реализация классов в рамках паттерна модуль</li>
        <li class="item">Варианты реализации данных методов</li>
        <li class="item">Публичные метод, как Api.</li>
        <li class="item">Варианты реализации публичного Api. Pub/sub</li>
    </ul>
</div>